.home-page {
  display: flex;
  justify-content: center;
  align-items: center;

  .outer-list-wrapper {
    width: 95%;
  }

  .wrapper {
    display: flex;
    min-width: 90%;
    justify-content: center;

    @media (min-width: 960px) {
      max-width: 960px;
    }


    .list-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      min-width: 80%;

      @media (min-width: 960px) {
        min-width: 900px;
      }

      .list-wrapper {
        display: flex;
        flex-direction: row;
        width: 95%;
        border-radius: 5px;
        //border-bottom: 1px solid rgba(70, 171, 233, 0.35);
        padding: 15px;
        vertical-align: middle;
        justify-content: space-between;
        text-decoration: none;
        color: #333333;

        &:hover {
          background-color: #f8f8f8;
          cursor: pointer;
        }

        .user-info {
          display: flex;
          flex-direction: row;

          vertical-align: middle;
          align-items: center;
          margin-right: 10px;
          width: 150px;

          text-decoration: none;

          &:hover {
            margin-top: -1;
            transform: scale(1.03);
          }

          .user-pic {
            margin-right: 10px;
            width: 37px;
            height: 37px;
            background: url(../images/cat.png);
            border-radius: 50%;
            border: 1px solid #eeeeee;
          }

          .user-text {
            h3 {
              color: #333333;
              font-size: 16px;
              margin: 10px 0 0 0;
            }

            p {
              color: #555555;
              font-size: 12px;
              margin: 5px 0;
            }
          }
        }

        .left {
          text-decoration: none;
          display: flex;
          flex-direction: row;
          flex: 1;
          align-items: center;

          .list-text {
            color: #333333;
            font-size: 18px;
            left: 100px;
          }

          .tags {
            .tag {
              font-size: 12px;
              color: #cccccc;
              padding: 2px 5px;
              border-radius: 5px;
              border: 1px solid #eeeeee;
              margin-right: 5px;
            }
          }

        }

        .right {
          text-decoration: none;
          display: flex;
          flex-direction: row;
          vertical-align: middle;
          align-items: center;
          .list-details {
            display: flex;
            flex-direction: row;
            color: #999;
            padding: 5px;

            .time {
              margin-right: 12px;
              padding-right: 12px;
              border-right: 1px solid #eee;
              i {
                margin-right: 5px;
              }
            }
            .price {
              color: $blue;
              font-weight: bold;
              margin-right: 20px;
            }

          }

          .btn-lend {
            -webkit-appearance: none;
            border: 0;
            border-radius: 3px;
            background-color: rgba(0,0,0,0);
            border: 1px solid #efefef;
            color: #999999;
            font-family: Quicksand;
            font-weight: bold;
            font-size: 14px;
            padding: 10px 15px;;

            &:hover {
              cursor: pointer;
              background-color: white;
            }
          }
        }

      }
    }
  }
}
