.comments-wrapper{
	display: flex;
	align-items: center;
	//justify-content: center;
  flex-direction: column;
  background: rgba(255,255,255,0.9);
	cursor: default;
	flex: 1;


	.comments-container {
		width: 88%;
		margin-top: 20px;
		margin-bottom: 20px;

		.offer-wrapper {
			margin-top: 5px;
			width: 100%;
			margin-left: -15px;
			display: flex;
			justify-content: space-between;
			text-decoration: none;
			padding: 15px;
			border: 1px solid #f3f3f3;
			border-radius: 4px;
			//background-color: #fafafa;

			& * {
				text-decoration: none;
			}

			&:hover {
				background-color: #BAE49F;
				cursor: pointer;

				.comment {
					color: #333333;
					opacity: 0.7;
				}

				.user {
					padding: 4px 7px;
					font-size: 14px;
					color: white;
					border: none;
					background-color: #AAD48F;
					margin-right: 10px;
				}


				.bounty {
					color: white;
					font-weight: bold;
				}
			}

			.comment {
				color: #333333;
				font-size: 16px;
			}

			.user {
				padding: 4px 7px;
				font-size: 14px;
				color: #aaaaaa;
				border: 1px solid #dedede;
				margin-right: 10px;
			}


			.bounty {
				color: $blue;
				font-weight: bold;
			}
		}
	}

	h2 {
		text-align: left;
		font-family: 'Proxima Nova';
		font-size: 20px;
		font-weight: 600;
		margin-top: 50px;
		margin-bottom: 30px;
	}

  .modal {
		display: flex;
    justify-content: center;
		align-items: center;
    flex-direction: column;
		background: #FFFFFF;
		border-radius: 5px;
		border: 1px solid #efefef;
		padding: 5px 10px 0px 10px;

		.outer-list-wrapper {
			width: 600px;
			max-width: 600px;
			.des {
				padding-left: 23px;
				font-size: 14px;
				color: #999999;
				word-wrap: break-word;
				width: 100%;
			}
			.list-wrapper {
					display: flex;
					flex-direction: row;
					width: 95%;
					border-radius: 5px;
					//border-bottom: 1px solid rgba(70, 171, 233, 0.35);
					padding: 15px;
					vertical-align: middle;
					justify-content: space-between;
					text-decoration: none;
					color: #333333;

					&:hover {
						background-color: #f8f8f8;
						cursor: pointer;
					}

					.user-info {
						margin-top: -5px;
						display: flex;
						flex-direction: row;

						text-decoration: none;
						vertical-align: middle;
						align-items: center;
						width: 150px;
						.user-pic {
							margin-right: 10px;
							width: 37px;
							height: 37px;
							background: url(../images/cat.png);
							border-radius: 50%;
							border: 1px solid #eeeeee;
						}

						.user-text {
							h3 {
								color: #333333;
								font-size: 16px;
								margin: 10px 0 0 0;
								line-height: 17px;
							}

							p {
								color: #555555;
								font-size: 12px;
								margin: 5px 0;
							}
						}
					}


					.left {
						display: flex;
						flex-direction: row;
						flex: 1;
						align-items: center;
						text-decoration: none;

						.list-text {
							font-size: 18px;
							left: 50px;
							color: #333333;
						}

						.tags {
	            .tag {
	              font-size: 12px;
	              color: #cccccc;
	              padding: 2px 5px;
	              border-radius: 5px;
	              border: 1px solid #eeeeee;
	              margin-right: 5px;
	            }
	          }

					}

					.right {
						text-decoration: none;
						display: flex;
						flex-direction: row;
						vertical-align: middle;
						align-items: center;
						.list-details {
							display: flex;
							flex-direction: row;
							color: #999;
							padding: 5px;
							justify-content: flex-end;
							width: 100px;

							.price {
								color: $blue;
								font-weight: bold;
								margin-right: 0px;
							}

						}

						.btn-lend {
							display: none !important;
						}
					}

			}
		}

		.list-wrapper:hover {
			cursor: default !important;
			background: none !important;
		}

    .textbox{
			width: 88%;
			margin-top: 5px;
			margin-bottom: 5px;
			text-align: left;
			padding: 15px 15px;
			font-size: 16px;
			border-radius: 3px;
			border: 1px solid #eaeaea;
  	}

		.row {
			display: flex;
			width: 95%;
			.offer {
				margin-right: 5px;
				flex: 1;
				width: 45%;
				-webkit-appearance: none;
				border: 0;
				text-align: center;
				margin-top: 10px;
				padding: 15px 0px;
				border-radius: 3px;
				border-color: #ddd;
				font-size: 16px;
				cursor: pointer !important;
				background-image: none;
				background-color: $blue;
				color: white;
			}

			.cancel-offer {
				flex: 1;
				width: 45%;
				-webkit-appearance: none;
				border: 0;
				text-align: center;
				margin-top: 10px;
				padding: 15px 0px;
				border-radius: 3px;
				border-color: #ddd;
				font-size: 16px;
				cursor: pointer !important;
				background-image: none;
				color: white;
				background-color: #FB6A6A;
			}
		}
  }

}
