header {
  height: 70px;
  background: #ffffff;
  padding: 0 15px;
  @media (min-width: 960px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  border-bottom: 1px solid #eee;

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 960px) {
        width: 960px;
    }

    .logo {
       flex: 1;
       h1 {
         font-style: 'Proxima Nova';
         font-weight: 600;
         font-size: 18px;
         color: $blue;
         margin-top: 10px;
         margin-bottom: -17px;
       }
       p {
         font-size: 14px;
       }
    }
    .tabs {
      flex: 4;
      display: flex;
      justify-content: center;
      a {
        margin: 0 10px;
        color: $font-color--dark;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        border: 1px solid white;

        &.active {
          border: 1px solid $blue;
          color: $blue;
          font-weight: 600;
        }
      }
    }
    .login {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      a {
        margin: 0 10px;
        color: $font-color--dark;
        font-family: 'Proxima Nova';
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
        font-weight: 400;
      }
    }
  }
}
