header {
  padding: 0 30px;
  height: 70px;
  background: #ffffff;
  @media (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  border-bottom: 1px solid #eee;
  
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    @media (min-width: 1200px) {
        width: 1200px;
    }
    
    .logo {
       flex: 1;
       h1 {
         font-size: 24px;
         color: $blue;
         margin-top: 10px;
         margin-bottom: -17px;
       }
       p {
         font-size: 14px;
       }  
    }
    .tabs {
      flex: 4;
      display: flex;
      justify-content: center;
      a {
        margin: 0 10px;
        color: $font-color--dark;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
        &.active {
          border: 1px solid $blue;
          color: $blue;
          font-weight: bold;
        }
      }
    }
    .login {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      a {
        margin: 0 10px;
        color: $font-color--dark;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        background-color: $blue;
      }
    }
  }
}