body {
  font-family: 'quicksandregular', Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  padding: 0;
  margin: 0;
  
  .app {
    display: flex;
    min-height: 100vh;
    flex-direction: column; 
    
    .container {
      flex: 1; 
    }
  }
}

h1 {
  font-family: 'quicksandbold', Helvetica, sans-serif;
}